// styles/globals.scss
@import './variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-primary);
}

body {
  background-color: var(--color-white);
  color: var(--color-white);
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: none;
}

button:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

#__next {
  min-height: 100vh;
  width: 100%;
}

.main {
  min-height: 100vh;
  width: 100%;
}


